.loopControls {
  display: flex;
  flex-direction: column;
}

.layerControls {
  display: flex;
  flex-direction: row;
}

.removeLayerContainer {
  display: flex;
  padding: 0.5em;
}

.addLayerContainer {
  display: flex;
  padding: 0.5em;
}

.sliderContainer {
  display: flex;
  padding: 0.5em;
}
