.controlsContainer {
  display: flex;
  flex-direction: column;
}

.layerContainer {
  display: flex;
  flex-direction: column;
}

.layerControlsContainer {
  display: flex;
  flex-direction: row;
}

.layerGraphicsContainer {
  display: flex;
  flex-direction: row;
}

.inputContainer {
  display: flex;
  padding: 0.5em;
}

.buttonContainer {
  display: flex;
  padding: 0.5em;
}

.graphicContainer {
  display: flex;
  padding-inline: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.5em;
}
